<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand">Tour Mate</a>
        <form class="d-flex" role="search">
          <% if user_signed_in? %>
            <%= link_to current_user.nickname, "#", class: "btn btn-outline-success" %>
            <%= link_to 'Log out', destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-outline-success" %>
          <% else %>
            <%= link_to 'Log in', new_user_session_path, class: "btn btn-outline-success" %>
            <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-outline-success" %>
          <% end %>
        </form>
      </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>